<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        <h1>To-do List App</h1>
    </header>

    <main>
        <!-- <a href="{{ url_for('add_task') }}" class="btn-to-add">Add Task</a> -->
        <a href="#" id="btn-to-add">Add Task</a>
        <div id="taskContainer"></div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>