body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1 {
    font-size: 4rem;
    font-family: 'Arial', sans-serif;
    color: hsl(0, 0%, 25%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
}

#display {
    font-size: 5rem;
    font-weight: bold;
    font-family: Monospace;
    margin-bottom: 25px;
    color: hsl(0, 0%, 25%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
}

#controls button {
    border: none;
    border-radius: 10px;
    min-width: 125px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#startBtn {
    background-color: hsl(115, 100%, 40%);
}

#startBtn:hover {
    background-color: hsl(115, 100%, 30%);
}

#stopBtn {
    background-color: hsl(0, 90%, 50%);
}

#stopBtn:hover {
    background-color: hsl(0, 90%, 40%);
}

#resetBtn {
    background-color: hsl(205, 90%, 60%);
}

#resetBtn:hover {
    background-color: hsl(205, 90%, 50%);
}